/* ==========================================================================
   Placeholders
   ========================================================================== */

body
  // font-family: 'Lora', serif
  // font-family: 'Noto Serif', serif

%text-base
  color: $darker-gray
  font-size: 12px
  font-family: 'Trebuchet MS', serif
  text-align: left
  margin: 3px

  @media only screen and (max-width: $medium)
    text-align: center
