{% assign author = site.data.author %}

<div class="signature">
  <hr class="break-line">

  <p class="name">{{ author.name }}</p>
  <p class="degree">{{ author.degree }}</p>
  <p class="school">{{ author.school }}</p>
  <p class="university">{{ author.university }}</p>

  <hr class="break-line">
</div>
