/* ==========================================================================
   Signature
   ========================================================================== */

.signature
	padding: 10px 0

.break-line
	border: 0
	height: 1px
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0))

.line
	border: 0
	height: 0
	border-top: 1px solid rgba(0, 0, 0, 0.1)
	border-bottom: 1px solid rgba(255, 255, 255, 0.3)

.name
	@extend %text-base
	color: black
	font-weight: bolder

.degree
	@extend %text-base
	margin-top: 8px
	font-style: italic

.school
	@extend %text-base

.university
	@extend %text-base
